# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.opensdf
*.sdf
*.suo
*.obj
*.log
*.pch
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.ipch
*.pd_
*.exe
*.ilk
